<app-navbar></app-navbar>
<main style="background: linear-gradient(180deg, #EFF2FF -30.56%, rgba(232, 236, 255, 0) 135.85%);" class=" rounded-md py-3 lg:py-10 px-4 lg:px-16">
<div class="flex flex-col sm:flex-row mb-3 sm:justify-between gap-y-2 lg:gap-y-0">
  <div class="flex gap-x-2">
    <div class="flex items-center">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative h-full">
        <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none bg-primary rounded-r-3xl">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.6 16.2C12.7974 16.2 16.2 12.7974 16.2 8.6C16.2 4.40263 12.7974 1 8.6 1C4.40263 1 1 4.40263 1 8.6C1 12.7974 4.40263 16.2 8.6 16.2Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.6 17L15 15.4" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <input [(ngModel)]="searchTerm" type="text" id="simple-search" class="h-full rounded-3xl block w-full pr-10 pl-5 py-2 min-w-64 focus-visible:outline-none font-light" placeholder="Search objects..." required="">
      </div>
    </div>
    <div>
      <button class="px-4 py-2.5 h-full rounded-3xl bg-white">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 1C16 0.447715 15.5523 0 15 0H1C0.447715 0 0 0.447715 0 1V2.58579C0 2.851 0.105357 3.10536 0.292893 3.29289L4.7071 7.7071C4.89464 7.89464 4.99999 8.14899 4.99999 8.41421V15.3063C4.99999 15.6476 5.33434 15.8886 5.65811 15.7806L10.6581 14.114C10.8623 14.0459 11 13.8548 11 13.6396V8.41422C11 8.149 11.1054 7.89465 11.2929 7.70711L15.7071 3.29289C15.8946 3.10536 16 2.851 16 2.58579V1Z" fill="#744BFC"/>
        </svg>
      </button>
    </div>
  </div>
  <button (click)="togglePopup()" class="flex items-center justify-center lg:justify-between gap-x-2 px-5 py-2.5 bg-primary text-white rounded-3xl">
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7 1L7 13" stroke="white" stroke-width="2" stroke-linecap="round"/>
      <path d="M13 7L1 7" stroke="white" stroke-width="2" stroke-linecap="round"/>
    </svg>

    Yeni Hesap Ekle
  </button>

</div>
<div class="overflow-x-auto border rounded-2xl">
  <table class="social-table overflow-x-auto">
    <thead>
    <tr>
      <th scope="col" class="font-semibold">Sosyal Medya Linki</th>
      <th scope="col" class="font-semibold">Sosyal Medya Adı</th>
      <th scope="col" class="font-semibold">Açıklama</th>
    </tr>
    </thead>
    <tbody *ngIf="DataList.length>0">
    <tr class="border-b" *ngFor="let data of filteredData">
      <td class="text-sm">{{data.sosyalMedyaLinki}}</td>
      <td class="text-sm">{{data.sosyalMedyaAdi}} </td>
      <td class="text-sm">{{data.aciklama}} </td>
    </tr>
    </tbody>
  </table>

</div>  <div class="flex justify-between items-center mb-3 select-none mt-5">
    <div class="flex items-center text-primary">
      Show:
        <div class="flex gap-x-5 justify-between items-center ml-4 bg-white rounded-3xl px-4 py-3 border border-primary">
        {{pageSize}} Rows
        <div class="flex flex-col gap-1.5">
          <button (click)="increase()">
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.78241 0.285875L0.900427 5.73587C0.523197 6.26547 0.901813 7 1.55203 7L8.42004 7C9.07025 7 9.44887 6.26547 9.07164 5.73587L5.18966 0.285875C5.08998 0.145929 4.88209 0.145929 4.78241 0.285875Z" fill="#744BFC"/>
            </svg>
          </button>
          <button (click)="decrease()">
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.18964 6.71413L9.07162 1.26413C9.44885 0.734529 9.07023 -3.953e-08 8.42002 -6.80313e-08L1.55201 -3.69083e-07C0.901792 -3.97584e-07 0.523177 0.73453 0.900407 1.26413L4.78239 6.71413C4.88207 6.85407 5.08996 6.85407 5.18964 6.71413Z" fill="#744BFC"/>
            </svg>

          </button>
        </div>
      </div>
    </div>
    <div class="flex items-center gap-x-3">
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="text-primary disabled:text-[#C9C9C9]">
        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 13L2 7L8 0.999999" stroke="currentColor" stroke-width="2"/>
        </svg>
      </button>
      <span class="rounded-md border bg-white px-3 py-1 text-sm">{{currentPage}}</span>
      <span class="text-[#C9C9C9] text-sm">of</span>
      <span class="text-primary text-sm">{{totalPages}}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="text-primary disabled:text-[#C9C9C9]">
        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 0.999999L7 7L0.999999 13" stroke="currentColor" stroke-width="2"/>
        </svg>
      </button>
    </div>
  </div>
</main>


<dx-popup
  [(visible)]="isPopupVisible"
  [hideOnOutsideClick]="true"
  [focusStateEnabled]="false"
  maxWidth="600px"
  maxHeight="400px"
>
  <div class="flex flex-col w-full h-full px-2 justify-center items-center gap-y-8">
    <label class="font-semibold w-full">
      Sosyal Medya Linki
      <input [(ngModel)]="Data.sosyalMedyaLinki" type="text" class="rounded-3xl block w-full px-4 py-2 focus-visible:outline-none font-light border mt-1.5" required="true">
    </label>
    <label class="font-semibold w-full">
      Sosyal Medya Adı
      <input [(ngModel)]="Data.sosyalMedyaAdi" type="text" class="rounded-3xl block w-full px-4 py-2 focus-visible:outline-none font-light border mt-1.5" required="true">
    </label>
    <label class="font-semibold w-full">
      Açıklama
      <input [(ngModel)]="Data.aciklama" type="text" class="rounded-3xl block w-full px-4 py-2 focus-visible:outline-none font-light border mt-1.5" required="true">
    </label>
    <div class="ml-auto mr-0 flex flex-row justify-center items-center gap-x-4">
      <button (click)="clearData()" class="px-5 py-2.5 bg-[#F5F7FF] text-primary rounded-3xl">
        Vazgeç
      </button>
      <button [disabled]="!Data.sosyalMedyaLinki || !Data.sosyalMedyaAdi || !Data.aciklama" (click)="addPopupEntry()" class="px-5 py-2.5 bg-primary text-white rounded-3xl disabled:bg-opacity-80">
        Kaydet
      </button>
    </div>
  </div>
</dx-popup>
